<div class=error>{{message}}</div>
<div class=instructions>IronHide accepts JSON-format EXPLAIN output. Use the following EXPLAIN options:</div><div class=instructions><code>EXPLAIN (FORMAT JSON, VERBOSE TRUE)</code></div><div class=instructions>or</div><div class=instructions><code>EXPLAIN (FORMAT JSON, VERBOSE TRUE, ANALYZE TRUE)</code></div><div class=instructions>JSON-format auto_explain output is also accepted.</div>
