<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a class="brand">IronHide</a>
    <ul class="nav">
      <li class="query"><a>Query</a></li>
      <li class="jsonexplain"><a>Explain</a></li>
      <li class="tables"><a>Tables</a></li>
      <li class="newwindow"><a>New window</a></li>
    </ul>
    <ul class="nav pull-right">
      <li class="connectedto"><a></a></li>
    </ul>
  </div>
</div>
<div class="view"></div>
