{{#each notices}}<div class=notice>{{this}}</div>{{/each}}<table>
  <tr>
    {{#each columns}}
      <th>{{this}}
    {{/each}}
  {{#each rows}}
  <tr>
    {{#eachValue this}}
      <td>{{this}}
    {{/eachValue}}
  {{/each}}
</table>
