<form id=connect class=form-horizontal>
	<div class=control-group>
		<label class=control-label for=host>Host</label>
		<div class=controls><input id=host type=text></div>
	</div>

	<div class=control-group>
		<label class=control-label for=port>Port</label>
		<div class=controls><input id=port type=text></div>
	</div>

	<div class=control-group>
		<label class=control-label for=db>Database</label>
		<div class=controls><input id=db type=text></div>
	</div>

	<div class=control-group>
		<label class=control-label for=user>Username</label>
		<div class=controls><input id=user type=text></div>
	</div>

	<div class=control-group>
		<label class=control-label for=pass>Password</label>
		<div class=controls><input id=pass type=password></div>
	</div>

	<div class=form-actions>
		<button type=submit class="btn btn-primary">Connect</button>
	</div>
</form>
