<div class=results></div>
<div class=explain></div>
<div class=database></div>
<div class=sql><textarea spellcheck=false></textarea></div>
<button class="execute btn btn-large btn-primary">Run</button>
